.header {
  display: flex;
  align-items: center;
  background-color: #bdbdbd;
  width: 100vw;
  height: 115px;
}

.header__link {
  padding-left: 5%;
  color: #000;
  font-size: 20px;
}

.header__link:hover {
  color: #eee;
  transition: 0.2s;
}

.hidden {
  background-color: #bdbdbd;
}
